.header {
  color: cornflowerblue;
  text-align: center;
  font-size: 15px;
  margin-top: 15dp;
}
/* body{
    background: url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
    background-repeat: no-repeat;
    background-position:center;
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */
